.cart {
    margin-top: 50px;
}

.cart p {
    font-size: 17px;
    margin-bottom: 0;
}

.cart__header {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cart__header-title {
    font-size: 17px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
}

.cart__header-title span {
    font-size: 14px;
    margin-left: 5px;
    color: #333;
}

#clear {
    width: 27px;
    object-fit: contain;
    opacity: 0.8;
    cursor: pointer;
}

.cart__body {
    padding: 10px; 
    margin-bottom: 160px;
}

.cart__item {
    padding: 24px 0;
}

.cart__item:last-child {
    border-bottom: none;
}


.cart__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}


/* Checkbox */
.cart__checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #888;
    cursor: pointer;
    transition: all 0.2s;
}

.cart__checkbox:hover {
    border-color: var(--primary-color);
}

.cart__checkbox.cart__checkbox--checked {
    border: none;
}

.cart__checkbox.cart__checkbox--checked .cart__check-icon {
    display: block;
}

.cart__checkbox--checked::after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    border: 1px solid transparent;
}

.cart__check-icon {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Product */
.cart__link {
    width: 100%;
}

.cart__product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.cart__product-img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 8px;
    display: block;
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.cart__product-name {
    margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
}

/* Quantity */
.cart__quantity {
    display: flex;
    align-items: center;
}

.cart__quantity-decrease,
.cart__quantity-increase {
    color: #555;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
}

.cart__quantity-decrease {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.cart__quantity-increase {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.cart__quantity-value {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cart__item-inner .cart__price {
    font-size: 17px;
}

/* Remove */
.cart__remove {
    width: 24px;
    opacity: 0.75;
}


.checkout {
    z-index: 3;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 450px;
    min-height: 125px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
}

.checkout__voucher {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.checkout__voucher span {
    color: #555 ;
    margin-left: 10px;
}

.checkout__area {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.checkout__total {
    padding-right: 10px;
}

.checkout__total > p {
    color: #555;
}

.checkout__total-price {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.checkout__price {
    color: #555 ;
    margin-bottom: 3px;
    margin-right: 20px;
}

.checkout__price span{
    color: #333;
    display: inline-block;
    font-size: 15px;
    padding: 1px 5px;
    background-color: var(--secondary-color);
    border-radius: 3px;
    font-weight: 600;
}

.checkout__btn { 
    min-width: 150px;
    border-radius: 7px;
}

.checkout__btn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.cart__info-mobile {
    display: none;
    margin-left: 14px;
}

.cart__empty {
    width: 350px;
    margin: 0 auto;
}


.confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ced4da;
    box-shadow: 0 0 12px -6px #666;
    visibility: hidden;
    opacity: 0;  
    pointer-events: auto;
    transition: all ease-in 0.2s;
    
}

.confirm.confirm--show {
    visibility: visible;
    opacity: 1;  
}

.confirm form {
    padding: 20px;
}

.confirm__info {
    min-width: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.confirm__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 10px;
}

.confirm__title {
    font-family: var(--heading-font);
    font-size: 30px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
}

.confirm__close {
    font-size: 30px;
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .cart__product {
        padding-left: 0;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .cart {
        margin-top: 0;
    }

    .cart__header {
        margin-bottom: 20px;
    }

    .cart__item-inner {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .cart__product {
        padding-left: 0;

    }

    .cart__product .cart__product-name {
        display: none;
    }

    .cart__product-img {
        
        width: 94px;
        height: 100%;
    }

    .cart__info-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        overflow: hidden;
    }

    .cart__info-mobile .cart__product-name {
        max-width: 100%;
        font-size: 18px;
        font-weight: 600;
        display: block;
        margin-left: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .cart__info-mobile .cart__price {
        font-size: 17px;
        margin-top: 3px;
    }

    .cart__actions {
        margin-top: 8px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cart__quantity-decrease,
    .cart__quantity-increase,
    .cart__quantity-value {
        width: 30px;
        height: 30px;
    }

    .cart__remove {
        width: 22px;
    }

    .checkout {
        width: 100vw;
        min-width: unset;
        height: auto;
        bottom: 0;
        padding-bottom: 22px;

        border-radius: unset;
        border: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .cart__empty {
        width: 220px;
    }
}