.menu__tab {
    margin-top: 20px;
    padding-left: 0;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow-x: scroll;
}

.menu__tab-item {
    margin-right: 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    opacity: 0.5;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
}

.menu__tab-item:hover {
    opacity: 1;
}

.menu__tab-item:last-child {
    margin-right: 0;
}


.menu__tab-item.menu__tab-item--active  {
   border-bottom-color: var(--primary-color);
   opacity: 1;
}

.menu__tab-img {
    width: 50px;
    
}

.menu__tab-name {
    font-size: 16px;
    color: #555;
    margin-top: 8px;
}


.menu__product {
    margin-top: 40px;
}

.menu__card {
    position: relative;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all ease 0.2s;
    background-color: #fff;
}

/* Mobile */
@media (max-width: 575px) {
    .menu__tab {
        justify-content: space-between;
    }

    .menu__tab-item {
        margin-right: 0;
    }
}