.container {
    height: 100%;
    padding: 0 40px;
}


/* Btns */
.primary-btn {
    position: relative;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
    background-color: var(--primary-color);
    border-radius: 11px;
    cursor: pointer;
    transition: all ease-in 0.18s;
    overflow: hidden;
    
}

.primary-btn:hover {
    color: #fff;
}

.primary-btn.circle {
    padding: 5px 10px;
    min-width: 38px;
    min-height: 38px;
    border-radius: 50%;
}

.primary-btn.circle:hover {
    opacity: 0.9;
}

.primary-btn.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 0;
    padding: 12px;
}

.primary-btn.outline:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.primary-btn.transparent {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.primary-btn.transparent:hover {
    color: var(--primary-color);
}


/* Rating star */
.rating-solid-star {
    color: var(--rating-star-solid-color);
}

.rating-empty-star{
    color: var(--rating-star-empty-color);

}

