#banner {
    margin-top: var(--header-height);
    z-index: 1;
    background-image: url('../img/donut-banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.banner_inner {
    width: 50%;
    margin-top: calc(var(--header-height) + 30px);

}

.banner_caption {
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.5px;
}


.banner_main-caption {
    color: var(--primary-color);
}

.banner_desc {
    font-size: 18px;
    margin-top: 30px;
    color: var(--desc-color);
    letter-spacing: 0.8px;
    padding-left: 10px;
    border-left: 3px solid var(--primary-color);
}

.banner_best-seller {
    padding-top: calc(var(--card-product-img-height) - 60px);
    padding-bottom: 50px;
}
