.card__product {
    position: relative;
    text-align: center;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all ease 0.2s;
}

.card__product:hover {
    border-color: var(--primary-color);
}

.card__img {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* top: -50%; */
    object-fit: cover;
    top: calc(-200px / 2);
}

.card__name {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__info {
    padding-top: calc(var(--card-product-img-height) / 2 + 10px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.card__buying {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.card__rating {
    font-weight: 600;
    text-align: left;
}

.card__star-solid {
    color: #fca244;
}

.card__star-empty {
    color: #ddd;
}

.card__btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.card__btn.primary-btn {
    border-radius: 26px;
    padding: 7px 20px;
    font-weight: 400;
    min-width: 120px;

}


/* Category */

.card__category {
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    border-radius: 15px;
    overflow: hidden;
}

.card__category:hover .card__category-img > img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.card__category-img {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.card__category-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.25s;
}

.card__category-info {
    padding: 5px 10px;
    position: absolute;
    color: #000;
    top: 10px;
    right: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.card__category-name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.card__category-icon {
    font-size: 24px;
}

.card__gallery {
    position: relative;
    height: 294px;
    border-radius: 15px;
    overflow: hidden;
}

.card__gallery:hover .card__gallery-overlay {
    visibility: visible;
    opacity: 1;
}

.card__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card__gallery-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s;
}

.card__gallery-icon {
    width: 100%;
    font-size: 50px;
    margin: 0 auto;
    color: #fff;
}



/* Mobile -> Tablet */
@media (max-width: 991px) {
    .card__img {
        width: 180px;
        height: 180px;
        top: calc(-180px / 2);
    }
    
}

/* Mobile */
@media (max-width: 575px) {
    .card__img {
        width: 135px;
        height: 135px;
        top: calc(-135px / 2);
    }

    
    .card__info {
        padding-top: calc(135px / 2 + 10px);
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

   
}