
.card_product {
    position: relative;
    text-align: center;
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    border-radius: 15px;
}

.card_img {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
}

.card_name {
    font-size: 20px;
    text-align: left;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card_info {
    padding-top: calc(var(--card-product-img-height) / 2);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}


.card_buying {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_price {
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

.card_rating {
    font-weight: 600;
    text-align: left;
}

.card_star-solid {
    color: #fca244;
}

.card_star-empty {
    color: #ddd;
}

.card_btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.card_btn.primary-btn {
    border-radius: 26px;
    padding: 7px 20px;
    font-weight: 400;
}


/* Category */

.card_category {
    box-shadow: 0 0 12px rgb(0 0 0 / 15%);
    border-radius: 15px;
    overflow: hidden;
}

.card_category:hover .card_category-img > img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.card_category-img {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;

}

.card_category-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.2s;
}

.card_category-info {
    padding: 5px 10px;
    position: absolute;
    color: #000;
    top: 10px;
    right: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.card_category-name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}

.card_category-icon {
    font-size: 24px;
}

