#content {
    margin-top: 60px;
}

.content_title {
    font-size: 36px;
    padding-left: 7px;
    border-left: 4px solid var(--primary-color);
    margin-bottom: 0;
}


.content_product {
    margin-top: 30px;
}